<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=152217498206920";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <div class='embed-container'>
                <div style="margin:auto;">

                    <div class="fb-page"
                         data-href="https://www.facebook.com/aikidoNova" 
                         data-small-header="true" 
                         data-adapt-container-width="true" 
                         data-hide-cover="false"
                          data-show-facepile="true" 
                          data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/aikidoNova">
                          <a href="https://www.facebook.com/aikidoNova">Aikido of Northern Virginia</a></blockquote></div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

