<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://aikido-nova.org",
  "logo": "http://aikido-nova.org/img/logo.png",
  "telephone": "+1-571-317-1987",
  "email": "mailto:aikido.nova@gmail.com",
  "sameAs" : [
    "https://www.facebook.com/AikidoNOVA",
    "https://plus.google.com/102513848721680170179"
  ],
  "memberOf": {
  	"@type": "Organization",
    "name": "Aikido Schools of Ueshiba"
  },
  "location": {
  	"@type": "place",
    "containedInPlace": {
      "@type": "place",
      "name": "First Presbyterian Church",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Arlington",
        "addressRegion": "VA",
        "postalCode": "22203",
        "streetAddress": "601 N. Vermont St"
      }
    }
  }
}
</script>
