<h1>Welcome to Aikido of Northern Virginia</h1>
<p style="text-align:justify">Aikido of Northern Virginia, located across the street from Ballston metro station in Arlington, Northern VA, 
is a traditional aikido dojo afiliated to <a href="http://www.aikikai.or.jp/eng/">aikikai hombu dojo</a> through the <a href="http://asu.org/">aikido schools of Ueshiba.</a></p>

<p style="text-align:justify">Aikido of Northern Virginia is a not-for-profit organization governed by a board of directors elected from and by the membership. 
Instead of paying for individual lessons, students pay monthly membership dues. All students assist in the maintenance of the dojo.</p>

<p style="text-align:justify">We pride ourselves on maintaining the dojo – not only as a place for serious Aikido training and discipline – but also as a place with a sense of belonging and concern for each other.</p>
