<h3>Quick Info</h3>
<p style="text-align:justify">Aikido of Northern Virginia currently holds classes <strong>six days a week</strong>, offers seminars throughout the year, and hosts a <b>tai-ji</b> group on Fridays.
</p>
<p>
    <a href="#directions"><i class="fa {{site.icon.directions}} fa-fw"></i>Directions...</a>
    <br/><a href="#contact"><i class="fa {{site.icon.contact}} fa-fw"></i> Contact...</a>
    <br/><a href="#schedule"><i class="fa {{site.icon.schedule}} fa-fw"></i> Schedule...</a>
</p>
