<h3>Seminars</h3>

<p>
    <i class="fa fa-calendar-plus-o fa-fw"></i> <strong>Donovan Waite-sensei</strong>
    <br>January 29, 2016 <strong>(date change due to snow)</strong>
    <br>For information and PayPal links for our seminar with Donovan Waite-sensei, 
    please visit the <a href="https://www.facebook.com/events/427152047468187/">facebook page</a>
    <br>
    <br><i class="fa fa-calendar-plus-o fa-fw"></i> <strong>Frank Doran-sensei</strong>
    <br>March 4-6, 2016
    <br>Visit the <a href="https://www.facebook.com/events/439441372918285/">facebook page.</a>
    <br>or get the <a href="http://aikido-nova.org/doranFlyer2016.pdf">flyer</a>
    <br>
    <br><a href="#events"><i class="fa fa-calendar-plus-o fa-fw"></i>All  events...</a>
</p>
