---
title: "home"
bg: #ffffff     #defined in _config.yml, can use html color like '#010101'
color: black  #text color
style: justified
---
<div class="container Home">
    <div class="row">
        <div class="col-md-12">
          <img class="Logo" src="img/logo.png" width="200" height="200" alt="logo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          {% include intro.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% include quick-staff.html %}
        </div>
        <div class="col-md-4">
            {% include quick-info.html %}
        </div>
        <div class="col-md-4">
            {% include quick-metro.html %}
        </div>
        <div class="col-md-4">
            {% include quick-how-to-join.html %}
        </div>
    </div>
</div>

<h2>Like us on Facebook</h2>


<div style="text-align:center">
<a href="https://www.facebook.com/AikidoNOVA"><i class="fa fa-thumbs-o-up fa-5x"></i></a></div>

<p style="text-align:center">For pictures, updates, and events</p>
